<footer>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6 text-start text-light fs-5 Rights">
        <p>&#xa9;All Rights Reserved.</p>
      </div>
      <ul class="col-md-6  text-end">
        <li>
          <a href="#"><i class="bi bi-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-tiktok"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
