<main class="mt-5">
  <div class="custom-container">
    <div
      class="row home-wrapper justify-content-between align-items-center gx-1"
    >
      <div class="col-md-5 col-12 img-home">
        <figure>
          <img src="../../../assets/images/Logo-onBlack.png" alt="logo" />
        </figure>
        <h1 class="text-center mt-3">
          <span style="margin-right: 6rem">C</span>ming soon
          <img
            src="../../../assets/images/Hug-Me-02.png"
            alt="o-img"
            class="animate-img"
          />
        </h1>
      </div>
      <div class="col-md-6 col-12">
        <form [formGroup]="admissionForm" (ngSubmit)="handleSubmit()">
          <fieldset>
            <legend>Admission Form</legend>
            <div
              *ngFor="
                let input of formData
                  | paginate : { itemsPerPage: 3, currentPage: p }
              "
            >
              <mat-form-field
                class="example-full-width w-100"
                *ngIf="input.type == 'text' || input.type == 'number' || input.type == 'email' "
              >
                <mat-label>{{ input.lable }}</mat-label>
                <input
                  matInput
                  [name]="input.name"
                  [formControlName]="input.name"
                  [type]="input.type"
                />
                <mat-error
                *ngIf="admissionForm.controls[input.name].hasError('required')"
              >
                {{input.lable}} is required
              </mat-error>
                <mat-error
                *ngIf="admissionForm.controls[input.name].hasError('maxlength')"
              >
                Max length is {{input.error.max}}
              </mat-error>
              <mat-error
                *ngIf="admissionForm.controls[input.name].hasError('minlength')"
              >
                Min length is {{input.error.min}}
              </mat-error>
              <mat-error
                *ngIf="admissionForm.controls[input.name].hasError('pattern')"
              >
                Empty string
              </mat-error>
              <mat-error
                  *ngIf="admissionForm.controls[input.name].hasError('email')"
                >
                  Enter a valid e-mail
                </mat-error>
              </mat-form-field>
              <mat-form-field
                appearance="fill"
                *ngIf="input.type == 'date'"
                class="example-full-width w-100"
              >
                <mat-label>{{ input.lable }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  [formControlName]="input.name"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                *ngIf="admissionForm.controls[input.name].hasError('required')"
              >
                {{input.lable}} is required
              </mat-error>
              </mat-form-field>
              <mat-form-field
                appearance="fill"
                class="w-100"
                *ngIf="input.type == 'select'"
              >
                <mat-label>{{ input.lable }}</mat-label>
                <mat-select [formControlName]="input.name">
                  <mat-option [value]="sel" *ngFor="let sel of input.select">{{
                    sel
                  }}</mat-option>
                </mat-select>
                <mat-error
                *ngIf="admissionForm.controls[input.name].hasError('required')"
              >
                {{input.lable}} is required
              </mat-error>
              </mat-form-field>
            </div>
            <pagination-controls
            (pageChange)="p = $event"
            screenReaderCurrentLabel="You're on page"
            previousLabel ="Prev"
            [responsive] ="true"
            [maxSize]="9"
          ></pagination-controls>
            <div class="d-flex justify-content-between buttons">
              <button color="primary" class="fill">Submit</button>
              <button
                class="fill"
                color="warn"
                (click)="handleClear()"
                type="reset"
              >
                Clear
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</main>
