/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

// VARIABLES
// $main-color: RED;

// GENERAL CLASSES
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  background-color: #6b0f15;
}
.custom-container {
  width: 90%;
  margin: 0 auto;
}
ul {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}
input,
button {
  outline: none;
  border: none;
}
.swal2-confirm {
  background-color: #6b0f15 !important;
}

// pagination
.ngx-pagination {
  text-align: center !important;
}
.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #fff !important;
  color: #000 !important;
  cursor: default;
}
.pagination-previous,
.pagination-next {
  a {
    text-decoration: none !important;
  }
  background-color: #c03434 !important;
  border: solid 1px #fff !important;
}
