/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


// VARIABLES

$main-color: RED;


// GENERAL CLASSES
* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Roboto", sans-serif;
  }





:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}